body{
    font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
    font-size: 20px;

   
}

p{
    font-size: em ;
    text-align: start;
    
}

h1, h2{
    color:rgb(48, 6, 146);
    text-align: center;

}

table, th, td {
    border:1px solid black;
    text-align: center;
  }

  th{
    width: 30%;
    background-color: rgb(44, 145, 145);
    color: white;
    
  }

  img{
    width: 100%;
  }

  a{
    color: black;
    font-weight: 600;
  }

  a:hover{
    color: red;
  }

  td{
    margin: 0;
    padding: 0;
  }


  div.frame{
    display: flex;
    height: 700px;
  }
  

  .container{
    margin: 5% 10%;
    
  }

  li{
    font-size: 1.5em;
    padding: 20px 0;
    
  }

